<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalogação LEM</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/theme/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/theme/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link th:href="@{/theme/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/theme/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/theme/local/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/theme/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <div th:replace="header :: header-side-bar"></div>
        
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="${nest.name}" class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row" >
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dados do ninho
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body h-100">
                            <p><strong>Cidade: </strong><span th:text="${nest.city.name}"></span>/<span th:text="${nest.city.state.initials}"></span> - <span th:text="${nest.city.state.country.name}"></span></p>
                            <p><strong>Endereço: </strong><span th:text="${nest.address}"></span></p>
                            <p><strong>Data de cadastro: </strong><span th:text="${#dates.format(nest.registerDate, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vegetação Predominante: </strong><span th:text="${nest.vegetation}"></span></p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Atualizações de dados
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body h-100">
                            <table width="100%" class="display table table-striped table-bordered table-hover" id="data-updates-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Coletor</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="update : ${nest.dataUpdateVisits}">
                                        <td class="details-control" orderable="false"><span class="fa fa-plus"></span></td>
                                        <td th:text="${update.id}"></td>
                                        <td th:text="${update.collector.userId}"></td>
                                        <td th:text="${#dates.format(update.collectionDate, 'dd/MM/yyyy')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Extensão atual
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body h-100" id="map" style="min-height: 200px">
                            
                        </div>
                        <!-- /.panel-body -->
                        
                        <div class="panel-footer">Pontos obtidos na última atualização de dados do ninho</div>
                    </div>
                    <!-- /.panel -->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Fotos do ninho
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body h-100" id="slider-container" style="min-height: 200px">
<!--                            <div th:replace="slider :: image-slider(images = ${nest.photos})"></div>-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
            </div>
            <!-- /.row -->
                
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Amostras de Formigas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body h-100">
                            <table width="100%" class="display table table-striped table-bordered table-hover" id="ants-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Espécie</th>
                                        <th>Coletor</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="ant : ${nest.ants}">
                                        <td class="details-control" orderable="false"><span class="fa fa-plus"></span></td>
                                        <td th:text="${ant.id}"></td>
                                        <td th:text="${ant.name}"></td>
                                        <td th:text="${ant.antSpecies}"></td>
                                        <td th:text="${ant.visit.collector.userId}"></td>
                                        <td th:text="${#dates.format(ant.registerDate, 'dd/MM/yyyy')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/theme/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/theme/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/theme/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/theme/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/theme/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script th:inline="javascript">
        function midpoint(lat1, long1, lat2, long2, per) {
            return [lat1 + (lat2 - lat1) * per, long1 + (long2 - long1) * per];
        }

        function initMap() {
          /*<![CDATA[*/
          var nest = /*[[${nest}]]*/ 'test';
          var dataUpdate = nest['dataUpdateVisits'][nest['dataUpdateVisits'].length-1];
          /*]]>*/
          var initialLatLng = {lat: dataUpdate['newBeginingPoint']['latitude'], lng: dataUpdate['newBeginingPoint']['longitude']};
          var finalLatLng = {lat: dataUpdate['newEndingPoint']['latitude'], lng: dataUpdate['newEndingPoint']['longitude']};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: initialLatLng
          });

          var initialMarker = new google.maps.Marker({
            position: initialLatLng,
            map: map,
            title: 'Ponto inicial'
          });

          var finalMarker = new google.maps.Marker({
            position: finalLatLng,
            map: map,
            title: 'Ponto final'
          });
        }
    </script>
    
    <script src="/integration/googleMapsApiSrc" async defer></script>

    <!-- Custom Theme JavaScript -->
    <script src="/theme/local/js/sb-admin-2.js"></script>
    
    <!-- Row Details Builders -->
    <script th:inline="javascript" src="/theme/local/js/row-details-build.js"></script>

    <!--Ant Carousel Replacing-->
    <script th:inline="javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            var nest = /*[[${nest}]]*/ 'test';
            /*]]>*/

            $('#slider-container').append(buildSliderForPhotoList(nest['photos']));
        });
    </script>
</body>

</html>
 