<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalogação LEM</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/theme/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/theme/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link th:href="@{/theme/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/theme/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/theme/local/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/theme/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <div th:replace="header :: header-side-bar"></div>
        
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="${nest.name}" class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row" >
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dados do ninho
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body h-100">
                            <p><strong>Cidade: </strong><span th:text="${nest.city.name}"></span>/<span th:text="${nest.city.state.initials}"></span> - <span th:text="${nest.city.state.country.name}"></span></p>
                            <p><strong>Endereço: </strong><span th:text="${nest.address}"></span></p>
                            <p><strong>Data de cadastro: </strong><span th:text="${#dates.format(nest.registerDate, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vegetação Predominante: </strong><span th:text="${nest.vegetation}"></span></p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Atualizações de dados
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body h-100">
                            <table width="100%" class="display table table-striped table-bordered table-hover" id="data-updates-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Coletor</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="update : ${nest.dataUpdateVisits}">
                                        <td class="details-control" orderable="false"><span class="fa fa-plus"></span></td>
                                        <td th:text="${update.id}"></td>
                                        <td th:text="${update.collector.username}"></td>
                                        <td th:text="${#dates.format(update.collectionDate, 'dd/MM/yyyy')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Extensão atual
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body" id="map" style="height: 200px">
                            
                        </div>
                        <!-- /.panel-body -->
                        
                        <div class="panel-footer">Pontos obtidos na última atualização de dados do ninho</div>
                    </div>
                    <!-- /.panel -->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Fotos do ninho
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body" id="slider-container" style="height: 230px">
<!--                            <div th:replace="slider :: image-slider(images = ${nest.photos})"></div>-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
            </div>
            <!-- /.row -->
                
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Amostras de Formigas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body h-100">
                            <table width="100%" class="display table table-striped table-bordered table-hover" id="ants-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Espécie</th>
                                        <th>Coletor</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="ant : ${nest.ants}">
                                        <td class="details-control" orderable="false"><span class="fa fa-plus"></span></td>
                                        <td th:text="${ant.id}"></td>
                                        <td th:text="${ant.name}"></td>
                                        <td th:text="${ant.antSpecies}"></td>
                                        <td th:text="${ant.visit.collector.username}"></td>
                                        <td th:text="${#dates.format(ant.registerDate, 'dd/MM/yyyy')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/theme/vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/theme/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/theme/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- DataTables JavaScript -->
    <script th:src="@{/theme/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/theme/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/theme/vendor/datatables-responsive/dataTables.responsive.js}"></script>

    <script th:inline="javascript">
        function midpoint(lat1, long1, lat2, long2, per) {
            return [lat1 + (lat2 - lat1) * per, long1 + (long2 - long1) * per];
        }

        function initMap() {
          /*<![CDATA[*/
          var nest = /*[[${nest}]]*/ 'test';
          var dataUpdate = nest['dataUpdateVisits'][nest['dataUpdateVisits'].length-1];
          /*]]>*/
          var initialLatLng = {lat: dataUpdate['newBeginingPoint']['latitude'], lng: dataUpdate['newBeginingPoint']['longitude']};
          var finalLatLng = {lat: dataUpdate['newEndingPoint']['latitude'], lng: dataUpdate['newEndingPoint']['longitude']};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: initialLatLng
          });

          var initialMarker = new google.maps.Marker({
            position: initialLatLng,
            map: map,
            title: 'Ponto inicial'
          });

          var finalMarker = new google.maps.Marker({
            position: finalLatLng,
            map: map,
            title: 'Ponto final'
          });
        }
    </script>
    
    <script th:src="${maps_api_url}" async defer></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/theme/local/js/sb-admin-2.js}"></script>
    
    <script th:src="@{/theme/local/js/carousel-build.js}"></script>
    
    <!-- Row Details Builders -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var datatablesLangURL = /*[[@{/theme/vendor/datatables/lang/portuguese-brasil.lang}]]*/ 'test';
        /*]]>*/
        
        function  formatAntDetail(d) {
            /*<![CDATA[*/
            var nest = /*[[${nest}]]*/ 'test';
            var antList = nest["ants"];
            var ant = antList[d.index()];
            /*]]>*/

            var html =
            '<div class="row">' +
              '<div class="col-md-8">' +
                '<p><strong class="col-md-3 text-right">Ordem: </strong> ' + ant["antOrder"] + '</p>' +
                '<p><strong class="col-md-3 text-right">Família: </strong> ' + ant["antFamily"] + '</p>' +
                '<p><strong class="col-md-3 text-right">Sub-família:</strong> ' + ant["antSubfamily"] + '</p>' +
                '<p><strong class="col-md-3 text-right">Gênero: </strong> ' + ant["antGenus"] + '</p>' +
                '<p><strong class="col-md-3 text-right">Sub-gênero: </strong> ' + ant["antSubgenus"] + '</p>' +
                '<p><strong class="col-md-3 text-right">Espécie: </strong> ' + ant["antSpecies"] + '</p>' +
              '</div>' +
            '<div class="col-md-4">';

            var carousel = buildSliderForPhotoList(ant['photos']);

            html = html + carousel;

            html = html +
            '<div th:replace="slider :: image-slider"></div>' +
            '</div>' +
            '</div>';

            return html;
          }

          $(document).ready(function() {
            var dt = $('#ants-table').DataTable( {
              responsive: true,
              "language": {
                "url": datatablesLangURL
              }
            } );

            // Array to track the ids of the details displayed rows
            var antDetailRows = [];

            $('#ants-table tbody').on( 'click', 'tr td.details-control', function () {
              var tr = $(this).closest('tr');
              var row = dt.row( tr );
              var idx = $.inArray( tr.attr('id'), antDetailRows );

              if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();

                // Remove from the 'open' array
                antDetailRows.splice( idx, 1 );
              }
              else {
                tr.addClass( 'details' );

                row.child(formatAntDetail(row)).show();

                // Add to the 'open' array
                if ( idx === -1 ) {
                  antDetailRows.push( tr.attr('id') );
                }
              }
            } );

            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on( 'draw', function () {
              $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
              } );
            } );
          });

          function formatDataUpdate(d) {
            /*<![CDATA[*/
            var nest = /*[[${nest}]]*/ 'test';
            var dataUpdateList = nest['dataUpdateVisits'];
            /*]]>*/

            var dataUpdate = dataUpdateList[d.index()];
            var antList = dataUpdate['ants'];

            var index;
            var antNames = '';

            for (index in antList) {
              if (antList[index]['name'] !== null) {
                antNames = antNames + antList[index]['name'] + "; ";
              }
            }

            antNames = antNames.trim();
            if (antNames === null || antNames.localeCompare('') === 0) {
              antNames = '-';
            }

            return '<p><strong class="col-md-2 text-right">Ponto Inicial: </strong> Lat ' + dataUpdate['newBeginingPoint']['latitude'] + " Lon " + dataUpdate['newBeginingPoint']['longitude'] + '</p>' +
            '<p><strong class="col-md-2 text-right">Ponto Final: </strong> Lat ' + dataUpdate['newEndingPoint']['latitude'] + " Lon " + dataUpdate['newEndingPoint']['longitude'] + '</p>' +
            '<p><strong class="col-md-2 text-right">Amostras: </strong> ' + antNames + '</p><br/>' +
            '<p><strong class="col-md-2 text-right">Comentários: </strong> ' + dataUpdate['notes'] + '</p><br/>';
          }

          $(document).ready(function() {
            var dt = $('#data-updates-table').DataTable( {
              responsive: true,
              "language": {
                "url": datatablesLangURL
              }
            } );

            // Array to track the ids of the details displayed rows
            var detailUpdateRows = [];

            $('#data-updates-table tbody').on( 'click', 'tr td.details-control', function () {
              var tr = $(this).closest('tr');
              var row = dt.row( tr );
              var idx = $.inArray( tr.attr('id'), detailUpdateRows );

              if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();

                // Remove from the 'open' array
                detailUpdateRows.splice( idx, 1 );
              }
              else {
                tr.addClass( 'details' );
                row.child( formatDataUpdate( row ) ).show();

                // Add to the 'open' array
                if ( idx === -1 ) {
                  detailUpdateRows.push( tr.attr('id') );
                }
              }
            } );

            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on( 'draw', function () {
              $.each( detailUpdateRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
              } );
            } );
          } );
    </script>

    <!--Ant Carousel Replacing-->
    <script th:inline="javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            var nest = /*[[${nest}]]*/ 'test';
            /*]]>*/

            $('#slider-container').append(buildSliderForPhotoList(nest['photos']));
        });
    </script>
</body>

</html>