<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalogação</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/theme/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/theme/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link th:href="@{/theme/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/theme/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/theme/local/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/theme/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper"> 
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 th:text="${form.getTitle()}" class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <div class="row" th:fragment="form-empty"></div>

            <div class="row" th:fragment="form-data-update">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dados da atualização</div>
                        <!-- /.panel-heading -->

                        <div th:if="${errorMessage == null}" class="panel-body">
                            <form role="form" method="post" th:action="@{${destinationPath}}" th:object="${dataUpdate}">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                    <input type="number" class="form-control" th:field="*{id}" readonly="readonly"/>
                                    
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="date" class="form-control" th:field="*{collectionDate}" th:value="*{collectionDate}" readonly/>
                                </div>
                                

                                <label>Coordenadas iniciais do ninho</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">Latitude</span>
                                    <input type="number" step="0.000000001" class="form-control" th:field="*{newBeginingPoint.latitude}" required/>

                                    <span class="input-group-addon">Longitude</span>
                                    <input type="number" step="0.000000001" class="form-control" th:field="*{newBeginingPoint.longitude}" required/>
                                </div>

                                <label>Coordenadas finais do ninho</label>
                                <div class="form-group input-group">     
                                    <span class="input-group-addon">Latitude</span>
                                    <input type="number" step="0.000000001" class="form-control" th:field="*{newEndingPoint.latitude}" required/>

                                    <span class="input-group-addon">Longitude</span>
                                    <input type="number" step="0.000000001" class="form-control" th:field="*{newEndingPoint.longitude}" required/>
                                </div>
                                
                                
                                <div class="form-group">
                                  <label for="*{notes}">Observações</label>
                                  <textarea class="form-control" th:field="*{notes}"></textarea>
                                </div>
                                
<!--                                <div th:if="*{photos != null && !photos.isEmpty()}"> 
                                    
                                </div>-->

                                <input type="submit" class="btn btn-default"></input>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            
            <div class="row" th:fragment="form-ant">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dados da Formiga</div>
                        <!-- /.panel-heading -->

                        <div th:if="${errorMessage == null}" class="panel-body">
                            <form role="form" method="post" th:action="@{${destinationPath}}" th:object="${ant}">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                    <input type="number" class="form-control" th:field="*{id}" th:value="*{id}" readonly/>
                                    
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="date" class="form-control" th:field="*{registerDate}" th:value="*{registerDate}" readonly/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{name}">Nome</label>
                                    <input type="text" class="form-control" th:field="*{name}" required/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{antOrder}">Ordem</label>
                                    <input type="text" class="form-control" th:field="*{antOrder}" required/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{antFamily}">Família</label>
                                    <input type="text" class="form-control" th:field="*{antFamily}" required/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{antSubfamily}">Sub-Família</label>
                                    <input type="text" class="form-control" th:field="*{antSubfamily}" required/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{antGenus}">Gênero</label>
                                    <input type="text" class="form-control" th:field="*{antGenus}" required/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{antSubgenus}">Sub-Gênero</label>
                                    <input type="text" class="form-control" th:field="*{antSubgenus}" required/>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{antSpecies}">Espécie</label>
                                    <input type="text" class="form-control" th:field="*{antSpecies}" required/>
                                </div>

                                <div class="form-group">
                                  <label for="*{notes}">Observações</label>
                                  <textarea class="form-control" th:field="*{notes}"></textarea>
                                </div>
                                
                                <div th:if="*{photos != null && !photos.isEmpty()}"> 
                                    
                                </div>

                                <input type="submit" class="btn btn-default"></input>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            
            <div class="row" th:fragment="form-ant-filter">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filtros para o relatório</div>
                        <!-- /.panel-heading -->

                        <div th:if="${errorMessage == null}" class="panel-body">
                            <form role="form" method="post" th:action="@{${destinationPath}}" th:object="${filter}">
                                
                                <div class="form-group">
                                    <label for="*{id}">Id</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="number" class="form-control" th:field="*{id}"/>    
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="*{name}">Nome</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-bug"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{name}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{nest}">Ninho</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-home"></i>
                                        </span>
                                        <input type="number" class="form-control" th:field="*{nest}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="*{order}">Ordem</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sitemap"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{order}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{family}">Família</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sitemap"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{family}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{subfamily}">Sub-Família</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sitemap"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{subfamily}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{genus}">Gênero</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sitemap"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{genus}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{subgenus}">Sub-Gênero</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sitemap"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{subgenus}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{species}">Espécie</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sitemap"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{species}"/>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        Data Inicial
                                    </span>
                                    <input type="date" class="form-control" th:field="*{startDate}" th:value="*{startDate}"/>
                                    
                                    <span class="input-group-addon">
                                        Data Final
                                    </span>
                                    <input type="date" class="form-control" th:field="*{finalDate}" th:value="*{finalDate}"/>
                                </div>
                                
                                <div class="form-group">
                                  <label for="*{notes}">Observações</label>
                                  <textarea class="form-control" th:field="*{notes}"></textarea>
                                </div>

                                <input type="submit" class="btn btn-default"></input>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            
            <div class="row" th:fragment="form-nest-filter">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filtros para o relatório</div>
                        <!-- /.panel-heading -->

                        <div th:if="${errorMessage == null}" class="panel-body">
                            <form method="post" role="form" th:action="@{${destinationPath}}" th:object="${filter}">
                                
                                <div class="form-group">
                                    <label for="*{id}">Id</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{id}"/>    
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{collector}">Coletor</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{collector}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{address}">Endereço</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{address}"/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{vegetation}">Vegetação</label>
                                    
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-pagelines"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{vegetation}"/>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        Data Inicial
                                    </span>
                                    <input type="date" class="form-control" th:field="*{startDate}" th:value="*{startDate}"/>
                                    
                                    <span class="input-group-addon">
                                        Data Final
                                    </span>
                                    <input type="date" class="form-control" th:field="*{finalDate}" th:value="*{finalDate}"/>
                                </div>
                                
                                <div class="form-group">
                                  <label for="*{notes}">Observações</label>
                                  <textarea class="form-control" th:field="*{notes}"></textarea>
                                </div>

                                <input type="submit" class="btn btn-default"></input>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            
            <div class="row" th:fragment="form-user-register">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">Dados do novo usuário</div>
                        <!-- /.panel-heading -->

                        <div class="panel-body">
                            <form method="post" role="form" th:action="@{${destinationPath}}" th:object="${user}">
                                
                                <div class="form-group">
                                    <label for="*{username}">Identificação do usuário</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{username}" required/>    
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{name}">Nome</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" class="form-control" th:field="*{name}" required/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{password}">Senha</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input type="password" class="form-control" th:field="*{password}" required/>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="*{confirmPassword}">Confirme a Senha</label>
                                    
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input type="password" class="form-control" th:field="*{confirmPassword}" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="*{role}">Perfil</label>
                                    <select th:field="*{role}" class="form-control" required>
                                        <option th:each="role : ${roles}" 
                                                th:value="${role.id}" 
                                                th:text="${role.role}">Role</option>
                                    </select>
                                </div>

                                <input type="submit" class="btn btn-default"></input>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/theme/vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/theme/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/theme/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- DataTables JavaScript -->
    <script th:src="@{/theme/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/theme/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/theme/vendor/datatables-responsive/dataTables.responsive.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/theme/local/js/sb-admin-2.js}"></script>

    <!-- Date Formatter -->
    <script th:inline="javascript">
        $(document).ready(function(){
            $('.date-input').mask('00-00-0000');
        });
    </script>
</body>

</html>
 